includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app

    level: 5

    ignoreErrors:
        - message: '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#'
          reportUnmatched: false
        - message: '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model#'
          reportUnmatched: false
        - message: '#Relation .* is not found in .* model#'
          reportUnmatched: false
        - message: '#Parameter .* of class Illuminate\\Auth\\Events\\Verified constructor expects#'
          reportUnmatched: false
